body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #ebebeb; */
  background-color: white;
  border-radius: 20px;
  border: 1px solid var(--mantine-color-blue-1);
  padding: 4px 12px;
  margin: 4px;
  font-size: 0.8rem;
}

.css-2zq01j-MuiButtonBase-root-MuiButton-root {
  min-width: 0px !important;
}
